@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  button,
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

@keyframes glow {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 250px;
    height: 80px;
  }
}

@layer components {
  .heading-font {
    font-size: 28px;
    font-weight: 600;
    line-height: 98.634%; /* 78.907px */
    letter-spacing: -2.4px;
    @media screen and (min-width: 321px) {
      font-size: 36px;
      font-weight: 500;
      line-height: 98.634%; /* 78.907px */
      letter-spacing: -1px;
    }

    @media screen and (min-width: 640px) {
      font-size: 60px;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -0.04em;
    }
  }

  .heading {
    @apply heading-font;
    background: linear-gradient(
      160deg,
      #fff 0%,
      rgba(255, 255, 255, 0.75) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .glow-circle {
    z-index: 0;
    border-radius: 50%;
    background: radial-gradient(
      50px at center,
      #fc6767 0%,
      rgba(239, 49, 106, 0.1) 100%
    );
    filter: blur(60px);
    animation: glow 1000ms linear forwards 400ms;
    @media screen and (min-width: 640px) {
      background: radial-gradient(
        500px at center,
        #fc6767 0%,
        rgba(239, 49, 106, 0.1) 100%
      );
    }
  }
  .red-text-gradient {
    background: linear-gradient(199deg, #fe4646 54.44%, #841e1e 96.48%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .shine-on-cursor {
    position: absolute;
    &:before {
      --y: calc((var(--cursor-y) * 1px));
      --x: calc((var(--cursor-x) * 1px));
      display: none;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      z-index: 0;
      top: 0px;
      left: 0px;
      border-radius: 13px;
      background: radial-gradient(
        60px circle at var(--x) var(--y),
        #fff 0%,
        rgba(16, 16, 16, 0) 100%
      );
    }

    &:hover {
      &:before {
        display: block;
      }
    }
  }
  .swiper-container {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    /* CSS Grid/Flexbox bug size workaround */
    /* @see https://github.com/kenwheeler/slick/issues/982 */
    /* @see https://github.com/nolimits4web/swiper/issues/3599 */
    min-height: 0;
    min-width: 0;
    .swiper {
      padding: 10px 0px;
    }
    .swiper-slide {
      width: 500px;
    }
  }

  .features-mobile-swiper {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
    .swiper-navigation {
      width: 100%;
      display: flex;
      gap: 0.8125rem;
      padding-top: 1.25rem;
      > button {
        height: 40px;
        background: #fff;
        flex: 1;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .fix-lottie-container {
    height: 100%;
    .animation {
      height: 100%;
    }
    svg {
      border-radius: 18px;
      @media screen and (min-width: 640px) {
        border-radius: 48px;

      }
    }
  }
  @keyframes increaseWidth {
    from {
      width: 0%;
      opacity: 0;
    }
    to {
      width: 100%;
      opacity: 1;
    }
  }
  .navbar-reveal-animate {
    animation: increaseWidth 1s linear forwards 1s;
  }
  .navbar-stroke {
    opacity: 0.4 !important;
    background: linear-gradient(
      90deg,
      #000 -4.19%,
      #a7a7a7 22.45%,
      #fff 50.32%,
      #a7a7a7 77.99%,
      rgba(0, 0, 0, 0) 101.4%
    );
  }

  .maast-borders {
    position: relative;
  }

  .maast-borders:hover .maast-border-content > *:after {
    opacity: 1;
  }

  .maast-border-content > * {
    background: #131212;
    border-radius: 16px;
    position: relative;
  }

  .maast-border-content > * .maast-border-inner {
    background-color: #000;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    inset: 1px;
    position: absolute;
    z-index: 2;
  }

  .maast-border-content > *:hover:before {
    opacity: 1;
  }

  .maast-border-content > *:before,
  .maast-border-content > *:after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.5s;
    width: 100%;
  }

  .maast-border-content > *:before {
    background: radial-gradient(
      var(--circle-size, 600px) circle at var(--cursor-x) var(--cursor-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 15;
  }

  .maast-border-content > *:after {
    background: radial-gradient(
      var(--circle-size, 600px) circle at var(--cursor-x) var(--cursor-y),
      rgba(241,152,152, 0.4),
      transparent 40%
    );
    z-index: 1;
  }
}
